<center>

# MovieLens EDA
#### >**RECOMMENDER SYSTEMS**<
##### _By Justin AMINE_

</center>

### I. Introduction

**I.i) Importing the packages**

In [194]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**I.ii) The dataset**

In [195]:
ratings_df = pd.read_csv('data/ratings.csv')
movies_df = pd.read_csv('data/movies.csv')

**I.iii) Checking the first 5 rows of each DF and its shape**

In [196]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [197]:
ratings_df.shape

(100836, 4)

In [198]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [199]:
movies_df.shape

(9742, 3)

### II. Data Cleaning

**II.i) Any nulls?**

In [200]:
print(ratings_df.isna().sum())
print(movies_df.isna().sum())

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
movieId    0
title      0
genres     0
dtype: int64

**II.ii) Removing Dups**

In [201]:
# Check for duplicate records
duplicates = movies_df.duplicated(subset='title', keep=False)

In [202]:
duplicate_records = movies_df[duplicates]
print("Duplicate Records:")
print(duplicate_records)

Duplicate Records:
      movieId                                   title
650       838                             Emma (1996)  \
2141     2851                         Saturn 3 (1980)
4169     6003  Confessions of a Dangerous Mind (2002)
5601    26958                             Emma (1996)
5854    32600                             Eros (2004)
5931    34048                War of the Worlds (2005)
6932    64997                War of the Worlds (2005)
9106   144606  Confessions of a Dangerous Mind (2002)
9135   147002                             Eros (2004)
9468   168358                         Saturn 3 (1980)

                                   genres
650                  Comedy|Drama|Romance
2141            Adventure|Sci-Fi|Thriller
4169          Comedy|Crime|Drama|Thriller
5601                              Romance
5854                                Drama
5931     Action|Adventure|Sci-Fi|Thriller
6932                        Action|Sci-Fi
9106  Comedy|Crime|Drama|Romance|Thriller
9135                        Drama|Romance
9468                      Sci-Fi|Thriller

In [203]:
sorted_duplicates = duplicate_records.sort_values('movieId', ascending=False) #by movieId in descending order (i want the most recent)

In [204]:
#Drop duplicates based on the 'title' column, keeping the first occurrence with the highest movieId
cleaned_movies_df = sorted_duplicates.drop_duplicates(subset='title', keep='first')

In [205]:
cleaned_movies_df = pd.concat([cleaned_movies_df, movies_df[~duplicates]]) #clean df

In [206]:
cleaned_movies_df = cleaned_movies_df.reset_index(drop=True) #reset index, start from 0

In [207]:
cleaned_movies_df.to_csv('data/cleaned_movies.csv', index=False) #saving the cleaned df in my /data

In [208]:
cleaned_movies_df_csv = pd.read_csv('data/cleaned_movies.csv') #useless but just to load it

In [209]:
cleaned_movies_df_csv

,movieId,title,genres
0,168358,Saturn 3 (1980),Sci-Fi|Thriller
1,147002,Eros (2004),Drama|Romance
2,144606,Confessions of a Dangerous Mind (2002),Comedy|Crime|Drama|Romance|Thriller
3,64997,War of the Worlds (2005),Action|Sci-Fi
4,26958,Emma (1996),Romance
...,...,...,...
9732,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9733,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9734,193585,Flint (2017),Drama
9735,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9736,193609,Andrew Dice Clay: Dice Rules (1991),Comedy